mydomain = {{ postfix_mydomain }}
mydestination = 
compatibility_level=2
inet_interfaces = {{ postfix_inet_interfaces }}
sender_canonical_maps = regexp:/etc/postfix/sender_canonical
recipient_canonical_maps = regexp:/etc/postfix/recipient_canonical
transport_maps = hash:/etc/postfix/transport
inet_protocols = {{ postfix_inet_protocols }}
